
{# Rendering maxscale_config_sections #}
{% for section_name, section_options in maxscale_config_sections.iteritems() %}
[{{ section_name }}]
{% for option_key, option_value in section_options.iteritems() %}
{{ option_key }}={{ option_value }}
{% endfor %}
{% endfor %}

